<div class="selector-container">
  <h2 class="title">Select a Project</h2>

    <div *ngIf="loading" class="loading-container fade-in">
    <app-content-skeleton></app-content-skeleton>
  </div>
  
  <div class="project-list">
    <div class="project-item" *ngFor="let project of projects "  (click)="selectProject(project)">
      <div class="project-info">
        <div class="project-name">{{ project.name }}</div>
        <div class="project-id">ID: {{ project.id }}</div>
      </div>
      <div class="select-icon">&#x279C;</div> <!-- Right arrow symbol -->
    </div>
  </div>

  <div class="no-projects" *ngIf="!projects?.length">
    No projects available.
  </div>
</div>
