<div class="app-container">
  <!-- Step Progress Bar -->
 
  <!-- Step Content -->
  <div class="content-container">
    <!-- Loading overlay with animation -->
    <div *ngIf="loading" class="loading-overlay">
      <!-- <app-loading-spinner></app-loading-spinner> -->
       <app-content-skeleton></app-content-skeleton>
    </div>

    <!-- Error message with animation -->
    <div *ngIf="error" class="error-message slide-up">
      {{ error }}
      <button class="retry-button" (click)="currentStep === 4 ? analyzeMergeRequest() : analyzeBranch()">Retry</button>
    </div>

    <!-- Step content cards with fade transitions -->
    <div class="content card-container fade-in">

      <!-- Step 1 -->
      <app-project-selector 
        *ngIf="currentStep === 1"
        (projectSelected)="onProjectSelected($event)">
      </app-project-selector>
    
      <!-- Step 2 -->
      <app-branch-selection
        *ngIf="currentStep === 2"
        [projectId]="selectedProject?.id"
        (branchSelected)="onBranchSelected($event)"
        (goBack)="backToProjects()"
      ></app-branch-selection>
    
      <!-- Step 3 -->
      <app-merge-request-selector
        *ngIf="currentStep === 3"
        [projectId]="selectedProject?.id"
        [branchName]="selectedBranch?.name"
        [selectedProject]="selectedProject"
        (mergeRequestSelected)="onMergeRequestSelected($event)"
        (goBack)="currentStep = 2"
      ></app-merge-request-selector>
    
      <!-- Step 4 -->
      <div *ngIf="currentStep === 4">
        <app-review-results 
        [projectId]="selectedProject?.id"
        [branchName]="selectedBranch?.name"
        [selectedProject]="selectedProject"
          [results]="reviewResults"
          [mergeRequest]="selectedMergeRequest"
          [branch]="selectedBranch?.name"
          (goBack)="currentStep = 3">
          
        </app-review-results>
        <app-token-setup></app-token-setup>
        <app-ai-review-results
          *ngIf="selectedMergeRequest"
          [projectId]="selectedProject?.id"
          [mergeRequest]="selectedMergeRequest"
        ></app-ai-review-results>
      </div>
    
    </div>
  </div>
</div>
